.ui {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap-reverse;

  .occurences {
    min-width: 35vw;

    .player {
      cursor: pointer;
    }
  }

  .selection{
    width: 100%;
  }
}
