<nav class="flex items-center fixed z-10 w-full bg-white py-2 px-4 shadow">
  <a [routerLink]="'/'" class="flex items-center mr-8">
    <img src="assets/img/legend-icon.png" alt="Glory.report" class="h-12">
    <h1 class="text-lg">
      <span class="font-semibold">Glory</span>.report
    </h1>
  </a>

  <div *ngIf="currentUser">
    <a [routerLink]="[link.route, currentUser.membershipTypeId]"
      [routerLinkActive]="'text-gray-900'"
      class="mr-2 text-gray-500 hover:text-gray-900 transition-all duration-75"
      *ngFor="let link of links">{{ link.name }}</a>
  </div>

  <div class="flex-1"></div>

  <input type="text"
    id="gamertag"
    class="border border-gray-300 text-md rounded shadow max-w-sm py-1 px-2"
    placeholder="Guardian...">

  <div class="flex items-center ml-4" *ngIf="currentUser">
    <img [src]="'https://www.bungie.net' + currentUser.emblemPath"
      [alt]="currentUser.displayName"
      class="h-12 rounded">
    <span class="ml-2 font-semibold">{{ currentUser.displayName }}</span>
  </div>

  <span class="ml-4">
    <a [href]="social.url"
      [class]="i===0 ? '' : 'ml-1'"
      target="_blank"
      rel="noopener noreferrer"
      *ngFor="let social of socials;index as i">
      <fa-icon [icon]="['fab', social.name]" size="lg" [fixedWidth]="true"></fa-icon>
    </a>
  </span>
</nav>
