<div class="alerts" *ngIf="globalAlerts && globalAlerts.length">
  <span *ngFor="let alert of globalAlerts">{{ alert.AlertHtml }}</span>
</div>

<nav>
  <form [formGroup]="searchForm" (submit)="search(searchForm.value)">
    <label for="gamertag">Search Guardian</label>
    <br>
    <input type="text" id="gamertag" formControlName="gamertag" required autofocus>
    <button type="submit">Search</button>
  </form>

  <ul *ngIf="users.length">
    <li *ngFor="let user of users">
      <a [routerLink]="'/report/' + getMembershipTypeId(user)">
        <img [src]="'http://www.bungie.net' + user.iconPath" alt="">
        {{ user.displayName }}
      </a>
    </li>
  </ul>
</nav>
