<!-- Same as details -->
<p *ngIf="actsLoading">Loading activities... (found {{ actslength$ | async }})</p>

<ng-container *ngIf="!actsLoading">
  <label for="filter" class="mb-2">Search a player
    <input type="text" name="filter" id="filter" (keyup)="filter($event)" class="rounded shadow py-2 px-4">
  </label>

  <div class="space-y-2">
    <a [routerLink]="[enc.displayName]" *ngFor="let enc of encounters$ | async | slice:0:50" class="flex items-center">
      <img [src]="'https://www.bungie.net' + enc.iconPath" class="h-16 w-16">
      <p class="ml-2">{{ enc.displayName }}: {{ enc.count }}</p>
    </a>
  </div>
</ng-container>
