<h1>
  <a routerLink="/" style="color:inherit;text-decoration:none">
    {{title}}
  </a>
</h1>

<nav class="links">
  <a routerLink="/faq">FAQ</a>
  <a routerLink="/changelog">Changelog</a>
  <a href="https://github.com/JulesRx/GloryReport">GitHub</a>
</nav>

<div *ngIf="globalAlerts" style="color:red">
  <div *ngFor="let alert of globalAlerts">
    {{ alert.AlertHtml }}
  </div>
</div>

<form (ngSubmit)="search()">

  <input type="text" name="searchName" [(ngModel)]="searchName" placeholder="Gamertag or BattleTag#1234" autofocus>

  <button type="submit">Search</button>

</form>
