<p *ngIf="!pgcr" class="text-center">Loading...</p>
<div *ngIf="pgcr" class="bg-white">
  <div *ngIf="pgcr.teams.length" class="flex">
    <!-- display player's team first -->
    <!-- Change color to blue/red depending of player's team ? -->
    <div *ngFor="let team of pgcr.teams" class="w-1/2">
      <div [ngClass]="[team.standing.basic.value ? 'bg-red-500' : 'bg-green-500', 'text-white']">
        <p>{{ getTeamName(team) }}</p>
        <p>{{ team.standing.basic.displayValue }}</p>
        <p>{{ team.score.basic.displayValue }}</p>
      </div>

      <div *ngFor="let entry of getTeamEntries(team)" class="flex justify-between items-center">
        <p>{{ entry.player.emblemHash }}</p>
        <p>{{ entry.player.destinyUserInfo.displayName }}</p>
        <p>{{ entry.score.basic.displayValue }}</p>
      </div>
    </div>
  </div>

</div>
