<h2>FAQ</h2>

<h3 id="what-is-gloryreport">What is GloryReport ?</h3>
<p>GloryReport is an <a href="https://github.com/JulesRx/GloryReport">open source project</a> utilising the Destiny API to get various information about your PvP carrier since the game released like the list of players you most played with or against, how much time you won or lose against a player and more.</p>

<h3 id="who-made-it">Who made it ?</h3>
<p>GloryReport was made by <a href="https://twitter.com/Myjulot">Myjulot</a>, a Destiny and Halo player.</p>

<h3 id="plans">Is there any future plans for GloryReport ?</h3>
<p>GloryReport is the first time i really used the Destiny API seriously and i wish it to not be the last. This application will evolve over time and get better and better, with new features to come. Here's a list of what i want to do, in no particular order :</p>
<ul>
  <li>proper theming</li>
  <li>player vs opponent comparison</li>
  <li>detailed match report</li>
  <li>more statistics</li>
</ul>

<h3 id="issues">Is there any known issues ?</h3>
<p>This is the known issues :</p>
<ul>
  <li>abominable performances when fetching PGCRs (expecially if a player has more than 8k games)</li>
  <li>some api calls are returning errors when they shouldn't</li>
  <li>the team composition is not refreshing when switching between players</li>
</ul>
<p>If you encounter any problems not listed here, please create an issue on the <a href="https://github.com/JulesRx/GloryReport/issues">project's issue tab</a> or contact me on <a href="https://twitter.com/Myjulot">Twitter</a>.</p>

<h3 id="contribute">Can i contribute ?</h3>
<p>Yes, you can ! If you have an idea of a feature you would like to be implemented, please create a pull-request on <a href="https://github.com/JulesRx/GloryReport">GitHub</a>, or contact me on <a href="https://twitter.com/Myjulot">Twitter</a>.</p>
