<div *ngIf="activity" class="max-w-4xl mx-auto">
  <div
    [ngClass]="[activity.values.standing.basic.value === 0 ? 'bg-green-100' : 'bg-red-100', 'pr-2 flex items-center cursor-pointer hover:shadow transition-shadow duration-75']"
    (click)="showPgcr = !showPgcr">
    <img [src]="getPgcrImage(activity.activityDetails.referenceId)" class="h-16 mr-2">
    <div class="flex flex-col">
      <p>
        {{ activity.activityDetails.directorActivityHash | destinyItemHash: 'activityName' | async }}:
        {{ activity.activityDetails.referenceId | destinyItemHash: 'activityName' | async }}
      </p>

      <p class="text-xs" [title]="formatPeriod(activity.period, 'DD/MM/YYYY HH:mm:ss')">{{ fromNow(activity.period) }}
      </p>
    </div>

    <div class="flex-1"></div>

    <div class="flex flex-col justify-center items-center">
      <p>{{ activity.values.killsDeathsRatio.basic.displayValue }} KD</p>
      <p class="text-sm">
        <span title="Kills">{{ activity.values.kills.basic.displayValue }}</span>
        <span> / </span>
        <span class="text-red-600" title="Deaths">{{ activity.values.deaths.basic.displayValue }}</span>
        <span> / </span>
        <span title="Assists">{{ activity.values.assists.basic.displayValue }}</span>
      </p>
    </div>

    <a [href]="'https://destinytracker.com/destiny-2/pgcr/' + activity.activityDetails.instanceId"
      rel="noopener noreferrer" target="_blank" class="ml-4">
      <fa-icon [icon]="['fas', 'link']" size="lg" [fixedWidth]="true"></fa-icon>
    </a>
  </div>

  <app-destiny-pgcr *ngIf="showPgcr" [instanceId]="activity.activityDetails.instanceId"></app-destiny-pgcr>
</div>
