:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  font-family: 'Inter', var(--font-sans);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', var(--font-sans);
  }
}
