<p>Search Player</p>

<form [formGroup]="searchForm" (ngSubmit)="search()">

  <select id="membershipType" formControlName="membershipType">
    <option *ngFor="let membershipType of membershipTypes" [value]="membershipType.value" [class]="membershipType.icon">
      <li class="{{membershipType.icon}}"></li>
      {{membershipType.title}}
    </option>
  </select>

  <input type="text" id="name" formControlName="name" placeholder="Guardian">

  <button type="submit" [disabled]="searchForm.invalid">Search</button>

</form>
